@import "./variables";

.header {
  height: 25vh;
  margin-bottom: 5vh;
  color: #aaa;
  border-bottom: 1px solid #eee;

  .headerTitle {
    margin-top: 10vh;
    margin-right: 15vw;
    margin-bottom: 30px;
    font-size: 6rem;
    font-weight: 500;
    text-align: right;
  }
  .link {
    margin-left: 15vw;
    color: #aaa;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    &:hover {
      background: -webkit-linear-gradient(0deg, $main-color2, $main-color);//背景色にグラデーションを指定
      -webkit-background-clip: text;//テキストでくり抜く
      -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 15vh;
    margin-bottom: 4vh;
    border-bottom: 1px solid #ccc;
    .headerTitle {
      margin-top: 4vh;
      margin-bottom: 20px;
      margin: 4vh auto 20px;
      font-size: 2.5rem;
      text-align: center;
    }
    .link {
      font-size: 1.6rem;
    }
  } 
}