@import "./reset";
@import "./header";
@import "./pageInfo";
@import "./fixHeader";
@import "./article";
@import "./pagination";
@import "./variables";
@import "./footer";
@import "./about";

html {
  color: #444;
  font-size: 62.5%;
  font-family:
    'Hiragino Kaku Gothic Pro',
    'ヒラギノ角ゴ Pro W3',
    'メイリオ',
    Meiryo,
    'ＭＳ Ｐゴシック',
    sans-serif;
}

a {
  color: #666;
  transition: .2s;

  &:hover {
    color: $main-color;
  }
}

.main {
  width: 75vw;
  margin: 2vh auto 4vh;
}

@media screen and (max-width: 768px) {
  .main {
    width: 88vw;
  }
}

.main.categoriesMain,
.main.tagsMain {
  margin: 100px auto;
  width: 60vw;
}

.main.aboutMain {
  width: 50vw;
  margin: 100px auto 50px;
}

@media screen and (max-width: 768px) {
  .main.aboutMain {
    width: 88vw;
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .main.categoriesMain,
  .main.tagsMain {
    margin: 50px auto;
    width: 88vw;
  }
}

.post-list {
  margin-top: 50px;
  list-style: none;

  .section-title {
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 50px;
    margin-left: 40px;
  }

  .post-item {
    display: block;
    padding: 30px 50px 30px 40px;
    width: 75%;
    border-bottom: 1px solid #bbb;
    text-decoration: none;

    &:first-of-type {
      border-top: 1px solid #bbb;
    }

    &:hover {
      background-color: rgba(200,200,200, .3);
    }

    .post-title {
      margin-bottom: 15px;

      a {
        color: #444;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;

        &:hover {
          color: $main-color;
        }
      }
    }

    .info {
      .date {
        display: flex;
        margin-bottom: 10px;

        .post,
        .update {
          font-size: 1.7rem;
          padding: 3px 7px 3px 0px;
          margin-right: 15px;
          text-decoration: none;
        }
        svg {
          margin-right: 5px;
        }
      }

      .category,
      .tags {
        font-size: 1.7rem;
        padding: 3px 7px 3px 0px;
        margin-bottom: 15px;
        text-decoration: none;
        span {
          margin-right: 10px;
        }

        a {
          color: #444;
          margin-right: 9px;
          line-height: 1.5;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post-list {
    width: 100%;
    margin: 0 auto;

    .post-item {
      margin-bottom: 20px;
      width: 90%;
      padding: 8px 15px;
      .post-title {
        a {
          font-size: 2rem;
        }
      }

      .info {
        flex-direction: column;
        margin: 0;

        .date {
          .post,
          .update {
            font-size: 1.35rem;
            padding: 0;
            margin-bottom: 5px;
          }
        }

        .category,
        .tags {
          span {
            margin-right: 10px;
          }
          font-size: 1.35rem;
          padding: 0;
          margin-bottom: 5px;
          a {
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.categoryList,
.tagList {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;

  .listItem {
    margin-right: 10px;
    margin-bottom: 15px;
    a {
      display: block;
      padding: 8px 15px;
      font-size: 1.7rem;
      text-decoration: none;
      color: #444;
      font-weight: 900;
      transition: .3s;
      border: 2px solid #888;
      border-radius: 3px;
    }
  }
}

.tagList {
  .listItem {
    margin-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .categoryList,
  .tagList {
    .listItem {
      margin-right: 8px;
      margin-bottom: 12px;
      a {
        padding: 6px 10px;
        font-size: 1.2rem;
      }
    }
  }
}

/*
@media screen and (max-width: 768px) {
  .section {
    margin: 0 auto 30px;
  }
}
*/


.language-text {
  color: #444 !important;
  background: #ddd !important;
}

.gatsby-resp-image-wrapper {
  margin-left: 1rem !important;
  margin-bottom: 50px;
  max-width: 90%;
  img {
    height: auto;
    box-shadow: 0 0 5px 5px #eee !important;
  }
}

// 外枠?
.gatsby-highlight {
  width: 93%;
  background-color: #444;
  border-radius: 0 .3rem .3rem .3rem;
  margin: 0 0 50px;
  padding: .6em;
  overflow: auto;
  font-size: 1.6rem;
}

// 協調行
.gatsby-highlight-code-line {
  background-color: #066;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #066;
}

.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  //min-width: 100%; なにこれ?
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.5em; 
}

@media screen and (max-width: 768px) {
  .gatsby-highlight {
    font-size: 1.3rem;
    margin: 20px 0 25px;
  }
}

.gatsby-code-title {
  background: $main-color2;
  color: #ddd;
  margin-top: 35px;
  margin-bottom: -0.65em;
  padding: 1.5rem 1.8rem 2rem;
  font-size: 1.6rem;
  line-height: 0.2;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-weight: 400;
  border-radius: 3px 3px 0 0;
  display: table;
}

@media screen and (max-width: 768px) {
  .gatsby-code-title {
    padding: 1.2rem 1.5rem 1rem;
    margin-top: 20px;
    margin-bottom: -2rem;
    font-size: 1.4rem;
  }
}
