@import "./reset";
@import "./header";
@import "./fixHeader";
@import "./article";
@import "./pagination";

$main-color: #BD3F32;
$main-color2: #CB356B;

html {
  color: #444;
  font-size: 62.5%;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

a {
  color: #666;
  transition: .2s;
}

.links  {
  width: 60%;
  margin: 30px auto;
  display: flex;
  justify-content: center;

  .link {
    display: block;
    color: $main-color;
    font-size: 2.5rem;
    text-decoration: none;
    margin: 0 25px;
    border: 2px solid $main-color;
    border-radius: 3px;
    padding: 12px 20px;
  }
}

@media screen and (max-width: 768px) {
  .links {
    //flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 20px auto;

    .link {
      font-size: 1.2rem;
      padding: 5px 10px;
      margin: 0 10px;
    }
  }
}

.main {
  width: 75vw;
  margin: 2vh auto 4vh;
}

@media screen and (max-width: 768px) {
  .main,
  .main.article{
    width: 90vw;
    margin: 0 auto;
  }

  .main.article {
    padding-top: 3vh;
  }
}

.post-list {
  margin-top: 50px;
  list-style: none;

  .section-title {
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 50px;
    margin-left: 40px;
  }

  .post-item {
    display: block;
    padding: 30px 50px 30px 40px;
    width: 75%;
    border-bottom: 1px solid #bbb;
    text-decoration: none;

    &:first-of-type {
      border-top: 1px solid #bbb;
    }

    &:hover {
      background-color: rgba(200,200,200, .3);
    }

    .post-title {
      margin-bottom: 15px;

      a {
        color: #444;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;

        &:hover {
          color: $main-color;
        }
      }
    }

    .info {
      .date {
        display: flex;
        margin-bottom: 10px;

        .post,
        .update {
          font-size: 1.7rem;
          padding: 3px 7px 3px 0px;
          margin-right: 15px;
          text-decoration: none;
        }
        svg {
          margin-right: 5px;
        }
      }

      .category,
      .tags {
        font-size: 1.7rem;
        padding: 3px 7px 3px 0px;
        margin-bottom: 15px;
        text-decoration: none;
        span {
          margin-right: 10px;
        }

        a {
          color: #444;
          margin-right: 9px;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post-list {
    width: 100%;
    margin: 0 auto;

    .post-item {
      margin-bottom: 20px;
      width: 90%;
      padding: 10px 20px;
      .post-title {
        a {
          font-size: 2rem;
        }
      }

      .info {
        flex-direction: column;
        margin: 0;

        .date {
          .post,
          .update {
            font-size: 1.35rem;
            padding: 0;
            margin-bottom: 5px;
          }
        }

        .category,
        .tags {
          span {
            margin-right: 10px;
          }
          font-size: 1.35rem;
          padding: 0;
          margin-bottom: 5px;
          a {
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.categoryList,
.tagList {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;

  .listItem {
    margin-right: 10px;
    margin-bottom: 15px;
    a {
      display: block;
      padding: 8px 15px;
      font-size: 1.7rem;
      text-decoration: none;
      color: #444;
      font-weight: 900;
      transition: .3s;;
      border: 2px solid #888;
      border-radius: 3px;
    }
  }
}

.tagList {
  .listItem {
    margin-right: 5px;
    a {
      padding: 5px 10px;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .categoryList {
    flex-direction: column;
    .listItem {
      a {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    margin: 0 auto 30px;
  }
}

.beforeAndAfter {
  width: 50%;
  margin-left: 15vw;
  padding-bottom: 50px;

  .before,
  .after {
    display: block;
    border: 2px solid #bbb;
    border-radius: 3px;
    padding: 15px 19px 5px;

    &:hover {
      color: inherit;
    }

    h2 {
      font-size: 2rem;
      letter-spacing: 1px;
      color: #666;
      border-bottom: 3px dotted $main-color;
      padding-bottom: 7px;
      margin-bottom: 15px;
    }

    .title {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    &:hover {
      background: rgba(240,240,240,.5)
    }
  }

  .before {
    margin-bottom: 30px;
  }
}

@media screen and (Max-width: 768px) {
  .beforeAndAfter {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;

    .before,
    .after {
      padding: 10px 15px;

      h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
      }
      .title {
        font-size: 1.5rem;
      }
    }
    .before {
      margin-bottom: 15px;
    }
  }
}

.language-text {
  color: #444 !important;
  background: #ddd !important;
}

.gatsby-resp-image-wrapper {
  margin-left: 1rem !important;
  margin-bottom: 50px;
  width: 80%;
  img {
    height: auto;
    box-shadow: 0 0 5px 5px #eee !important;
  }
}

.footer {
  height: 30vh;
  background: #444;
}

// 外枠?
.gatsby-highlight {
  width: 95%;
  background-color: #444;
  border-radius: 0.3em;
  margin: 0 0 50px;
  padding: .8em;
  overflow: auto;
  font-size: 1.6rem;
}

.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  //min-width: 100%; なにこれ?
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em; 
}

@media screen and (max-width: 768px) {
  .gatsby-highlight {
    font-size: 1.3rem;
    margin: 20px 0 25px;
  }
}

.gatsby-code-title {
  background: $main-color2;
  color: #ddd;
  margin-top: 35px;
  margin-bottom: -0.65em;
  padding: 1.5rem 1.8rem 2rem;
  font-size: 1.6rem;
  line-height: 0.2;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-weight: 400;
  border-radius: 5px 5px 0 0;
  display: table;
}

@media screen and (max-width: 768px) {
  .gatsby-code-title {
    padding: 1.2rem 1.5rem 1rem;
    margin-top: 20px;
    margin-bottom: -2rem;
    font-size: 1.4rem;
  }
}
